@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgba(252, 246, 249, 0.72);
  --primary-color: #222260;
  --primary-color2: rgba(34, 34, 96, .6);
  --primary-color3: rgba(34, 34, 96, .4);
  --reverse-text-color: rgba(255, 255, 255, 0.9);
  --green: #42AD00;
  --green-bg: #B2FBA5;
  --grey: #aaa;
  --red-bg: rgba(255,225,225,1);
  --delete: #FF0000;
  --border: white;
  --highlight-background: #faf4f8;
}

.dark {
  --background: #121212;
  --primary-color: #fff;
  --primary-color2:  rgba(255, 255, 255, 0.9);
  --primary-color3: rgba(255, 255, 255, 0.7);
  --reverse-text-color: rgba(0, 0, 0, 0.9);
  --green: #42AD00;
  --green-bg: #B2FBA5;
  --grey: #aaa;
  --red-bg: rgba(255,225,225,1);
  --delete: red;
  --border: rgba(255, 255, 255, 0.3);
  --highlight-background: rgba(255, 255, 255, 0.12);
  background-image: url('./public/assets/darkBg.jpg');
}

body {
  background-image: url('./public/assets/lightBg.jpg');
  top: 0;
  margin: 0;
  padding: 0;
  display: flex;
}

html {
  margin: 0;
  padding: 0;
}

select[data-chosen] {
  color: var(--primary-color) !important;
}
